
.header {
  background-color: #303F68;
  color: rgb(244, 244, 248);
  border-bottom: 4px solid rgb(244, 244, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

