
.header {
  background-color: #303F68;
  color: rgb(244, 244, 248);
  border-bottom: 4px solid rgb(244, 244, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: rgb(244, 244, 248);
}

a {
  font-size: 14px;
}

.header-title a {
  color: rgb(244, 244, 248);
}

.header-content {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media screen and (max-width: 1030px) {

  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 910px) {

  ul {
    margin: 0;
  }

  li {
    margin: 0 0 6px 0;;
  }

  .SearchBar-input,
  .searh-button {
    margin: 10px 0;
  }
}

@media screen and (max-width: 825px) {
  .header {
    padding: 0;
  }

  .header-content {
    flex-direction: column;
  }

  .header-title {
    margin: 4px;
  }

}

